body {
    margin: 0;
    background-color: rgba(255, 255, 255, 0.534);
    font-size: medium;
}
.gridWrapper {
    display: grid;
    height: 100vh;
    grid-template-areas:
    "he he he he na"
    "dv dv dv dv dv"
    "se se se se se"
    "ft ft ft ft ft";
    grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
    grid-template-rows: 0.5fr 0.5fr 1fr 1fr;
}


/* Headern start */
.header {
    grid-area: he;
}

.rubrikText {
    margin-bottom: 0;
    margin-left: 20%;
    font-family: 'Manrope', sans-serif;
    font-weight: bolder;
    font-size: 3rem;
}

.rubrikText2 {
    margin-top: 0;
    margin-left: 20%;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.5rem;
}








.nav {
    font-family: 'Julius Sans One', sans-serif;
    align-self: left;
    font-size: 1.2rem;

}


.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 1rem;
    height: 70vh;
    top: -100vh;
    background-color: rgba(255, 214, 195, 0.712);
    transition: all 0.2s;
    padding: 1rem;
    
}


.navActive {
transform: translateY(100vh);
margin-top: 10%;
}

.navLinks li {
list-style: none;
}

.navLinks a {
color: rgb(0, 0, 0);
text-decoration: none;
letter-spacing: 3px;
}




/* Menyn */

.burger div {
 
width: 50%;
height: 2px;
background-color: rgb(0, 0, 0);
margin: 5px;
border-radius: 10%;
transition: all 0,3s;
}


.wrapper {
grid-area: na;
}

.burger {
cursor: pointer;
margin-left: 75%;
height: 1.5px;
padding-top: 8%;
}

.toggle #line1 {
    
transform: rotate(-45deg) translate(-5px, 8px);
right: 0px;
}

.toggle #line2 {
   
opacity: 0;
}

.toggle #line3 {
    
transform: rotate(45deg) translate(-2px, -5px);

}  
  
.kundkorg {
    grid-area: na;
    max-width: 33%;
    min-width: 30px;
    height: auto;
    padding-left: 40%;
    padding-top: 5%;
}

/* Headern end*/

.saleBilder {
    grid-area: dv;
    display: grid;
    grid-template-areas:
    "d1 d2"
    "d3 d4";
    padding: 40px;
}
.div1 {
    grid-area: d1;
   padding-right: 0.25rem;
}
.div2 {
    grid-area: d2;
}
.div3 {
    grid-area: d3;
}
.div4 {
    grid-area: d4;  
}

.bildd {
    height: 50%;
    width: 100%;
}

.merBilder {
    grid-area: se;
    display: grid;
    grid-template-areas:
    "d5 d6 d7";
    grid-template-columns: 1fr 1fr 1fr;
}
.div5 {
    grid-area: d5;
  
}
.div6{
    grid-area: d6;
   
}
.div7 {
    grid-area: d7;
   
}

.images {

    width: 100%;
    height: 100%;
   
}








.footer {
    grid-area: ft;
    display: grid;
    grid-template-areas:
    "cu cs ku";
    grid-template-columns: 1fr 1fr 1fr;
    font-weight: bolder;

}
.contactUs {
    grid-area: cu;

    padding-left: 5%;
    padding-right: 5px;
}
.costumer {
    grid-area: cs;
 
    padding-left: 5%;
    padding-right: 5px;
}
.keepUp {
    grid-area: ku;

    padding-left: 5%;
    padding-right: 5px;
}

.fottext {
    font-family: 'Julius Sans One', sans-serif;
}
.footertext {
font-family: 'Source Sans Pro', sans-serif;;
}
.instagramlogo {
    width: 2rem;
    height: auto;
}